html,
body {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #012e58;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;

}

.scroll-box {
	width: 50%;
	transform: translate(30%, 0);
	opacity: 0.9;
	transition: background 500ms ease;
}

.ws-impact-quote {
	background: none !important;
}

.vh-100 {
	height: 100vh;
}

.lh-solid {
	line-height: 1;
}

.white {
	color: white;
}

.yellow {
	color: #ffdf01;
}

.height-full {
	min-height: 100vh;
}

.hero-title-impact {
	text-align: left;
	font-size: 2.75rem;
	max-width: 10em;
}

.ws-small {
	font-size: 1.275rem;
}

.video-container {
	position: absolute;
	top: 0;
	bottom: 0;
	overflow: hidden;
}

.video-container video {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* SCROLL-SPECIFIC ELEMENTS */

.bg-full-image {
	background-size: cover;
	background-position: 50% 50%;
}

.bg-animate {
	opacity: 0.6;
	transition: opacity 0.4s ease;
}

.fadein {
	opacity: 1;
}

.fadeout {
	opacity: 0;
}


[slot="foreground"] section {
	padding: 100vh 0 100vh 0;
}

[slot="foreground"] section div {
	padding: 12px;
	position: relative;
}

[slot="foreground"] section div::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: -1;
}