html,
body {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #012e58;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;

}



.limit-width {
	width: 80%;
}

@media (min-width: 576px) {
	.limit-width {
		width: 50%;
	}
}

.ws-impact-quote {
	background: none !important;
}

.vh-100 {
	height: 100vh;
}

.lh-solid {
	line-height: 1;
}

.lh-title {
	line-height: 1.25;
}

.white {
	color: white;
}

.yellow {
	color: #ffdf01;
}

.pink {
	color: #D51067;
}

.height-full {
	min-height: 100vh;
}

.hero-title-impact {
	text-align: left;
	font-size: 2.75rem;
	max-width: 10em;
}

.ws-small {
	font-size: 1.275rem;
}

.video-container {
	position: absolute;
	top: 0;
	bottom: 0;
	overflow: hidden;
}

.video-container video {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	position: fixed;
	left: 50%;
	transform: translate(-50%);
}

/* SCROLL-SPECIFIC ELEMENTS */

.bg-full-image {
	background-size: cover;
	background-position: 50% 50%;
}

.bg-animate {
	opacity: 0.6;
	transition: opacity 0.4s ease;
}

.fadein {
	opacity: 1;
}

.fadeout {
	opacity: 0;
}


[slot="foreground"] section {
	padding: 100vh 0 100vh 0;
}

[slot="foreground"] section div {
	padding: 1.25rem 1rem;
	position: relative;
}

[slot="foreground"] section div::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.scroll-box {
	width: 90%;
	margin: auto;
	background: rgba(255, 255, 255, 0.9);
	border: 1px solid rgba(0, 0, 0, .2);
	padding: 1rem;
}

.scroll-box p {
	margin: 0;
}


@media (min-width: 576px) {
	.scroll-box {
		width: 40%;
		margin: 0;
		transform: translate(10%, 0);
		background: rgba(255, 255, 255, 0.9);
		border: 1px solid rgba(0, 0, 0, .2);
	}
}